body{
    margin: 0px;
    padding: 0px;
}

/* Footer Styling */
.mymatefooter {
    background-image: url('../images/ambulance.png');
    background-color: #e7f5f5;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px 0;
}

/* Set the height of the footer links */
.footer-links{
    height: 10px;
}

.footerdiv{
    text-align: center;
    color: #666666;
}

.footercopyright {
    text-align: center;
    font-size: 14px;
}

/* Format the list container */
.footerul {
    list-style: none;
    padding: 5px 0;
}

/* Format the list elements */
.footerli {
    display: inline-block;
    padding-right: 5px;
}

/* Format the anchor elements within the lists */
.footera {
    display: block;
    padding: 5px;
    border-radius: 100%;
    color: #ffffff;
    transition: all .1s ease-in-out;
}


/* Set dimension for social links*/
.footeri{
    display: block;
    width: 20px;
    text-align: center;
}

/* Social Links background color */
.first-child a{ background-color: #4267b2;}
.second-child a{ background-color: #1da1f2;}
.third-child a{ background-color: #0077b5;}
.last-child a{ background-color: #cb007c;}

/* Social Links Hover Effects */
footer ul li:first-child:hover a{ background-color: #3057a5; transform: scale(1.2); margin-bottom: 1px;}
footer ul li:nth-child(2):hover a{ background-color: #0b91e4; transform: scale(1.2);margin-bottom: 1px;}
footer ul li:nth-child(3):hover a{ background-color: #006aa2;transform: scale(1.2); margin-bottom: 1px;}
footer ul li:last-child:hover a{ background-color: #a70066; transform: scale(1.2); margin-bottom: 1px;}

